{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react",
    "flow"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env"
        ],
        "stage-0",
        "react",
        "flow"
      ]
    }
  },
  "plugins": [
    "syntax-flow",
    "transform-runtime",
    "transform-flow-strip-types",
    "transform-flow-comments",
    "react-hot-loader/babel",
    "es6-promise"
  ]
}